<section>
  <content>
    <h3 class="title">Welcome to Ascending Software</h3><br>

    <p class="desc">The INR to USD Loan Converter website, your reliable partner for seamless currency conversion and
      loan
      management. Experience hassle-free currency conversion with the Rupee to Dollar Loan Converter Website. It
      provides quick and accurate conversion of Indian Rupees (INR) to US Dollars (USD).</p><br>

    <div class="dashview">
      <div class="dashview-left">
        <ion-label>Lending Dashboard</ion-label><br>
        <span>for Managing DeFi Positions</span><br>
        <ion-button>Manage</ion-button><br>
        <ion-label>Create <span>unlimited Defi</span></ion-label><br>
        <p>Strategies in one Transaction</p><br>
        <ion-button>Start Create</ion-button>

      </div>
      <div class="dashview-right">
        <img src="../../assets/images/dashboardview.png" alt="">
      </div>
    </div><br>

    <h3 class="title" style="font-size: 28px !important;">Swapping Dollars for Cryptocurrency :</h3><br>


    <ul class="dollartocrypto">
      <li> Cryptocurrency: &nbsp; <span>Cryptocurrency is a digital or virtual currency that uses cryptography for
          security.</span></li>
      <li>Popular Cryptocurrencies: &nbsp; <span>Bitcoin, Ethereum, Litecoin, etc.</span></li>
    </ul><br>


    <h3 class="title" style="font-size: 28px !important;">Wallet :</h3><br>

    <ul class="dollartocrypto">
      <li> Choosing a Wallet: &nbsp; <span>Types of wallets (hardware, software, paper) and how to choose one.</span>
      </li>
      <li>Creating a Wallet: &nbsp; <span> Step-by-step instructions for setting up a wallet.</span></li>
    </ul><br>


    <h3 class="title" style="font-size: 28px !important;">How to Swap Dollars for Cryptocurrency :</h3><br>

    <ul class="dollartocrypto">
      <li>Selecting an Exchange: &nbsp; <span> Criteria for choosing a reliable cryptocurrency exchange.</span></li>
      <li>Swapping Process: &nbsp; <span>Step-by-step guide to converting dollars into cryptocurrency.</span></li>
    </ul><br>


    <ion-label class="combine">Combine DeFi protocols to build strategies</ion-label><br>

    <div class="combineImages">
      <img src="../../assets/images/combine1.png" alt="">
      <img src="../../assets/images/combine2.png" alt="">
      <img src="../../assets/images/combine3.png" alt="">
      <img src="../../assets/images/combine4.png" alt="">
      <img src="../../assets/images/combine5.png" alt="">
      <img src="../../assets/images/combine6.png" alt="">
      <img src="../../assets/images/combine7.png" alt="">
      <img src="../../assets/images/combine8.png" alt="">
    </div><br><br>

    <ion-label class="loan">Why Use Our Loan Currency Converter ?</ion-label><br>

    <ul class="loanList">
      <li>Accurate Exchange Rates: <span>We provide real-time exchange rates for both INR to USD and USD to INR
          conversions, ensuring you receive the most accurate and current rates.</span></li>
      <li>User-Friendly Interface: <span>Our intuitive and easy-to-use interface makes currency conversion simple and
          quick, whether you're converting a small loan or a significant amount.</span></li>
    </ul><br><br>

    <ul class="TransactionList">
      <li>Secure Transactions :<span>We prioritize your security with state-of-the-art encryption, ensuring your
          financial data is protected throughout the conversion process</span></li>
      <li>Fast Processing :<span>Time is crucial when dealing with loans. Our efficient process guarantees quick
          conversions so you can access your funds without delay</span></li>
    </ul><br><br>

    <span class="gain"><img src="../../assets/icon/question.svg" alt=""> Gain More</span><br>

    <div class="beginner">
      <span>Beginner’s handbook for using ( APP NAME) </span>
      <span>Step by step and Detailed tutorial for setting up automated financial transaction.</span>
      <img src="../../assets/icon/goIt.svg" alt="" class="img">
    </div><br>

    <div class="bottomFromBeginner">
      <div class="beginner" style="width: 49% !important;">
        <div class="beginner-top">
          <img src="../../assets/icon/bag.svg" alt=""> <span style="font-size: 17px !important;">Exploring loan
            management and Dashboard features
          </span>
        </div>
        <span style="font-size: 18px !important;">To create a data visualization tool for monitoring and analyzing
          lending activites.</span>
        <img src="../../assets/icon/goIt.svg" alt="" class="img">
      </div>

      <div class="beginner" style="width: 49% !important;">
        <div class="beginner-top">
          <img src="../../assets/icon/Line_up.svg" alt=""> <span style="font-size: 17px !important;"> Live Demonstration
          </span>
        </div>
        <span style="font-size: 18px !important;">Live demonstration of placing a trade, setting stop-loss and
          take-profit levels.</span>
        <img src="../../assets/icon/goIt.svg" alt="" class="img">
      </div>
    </div>
  </content>
</section>

